.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer; 
    padding: 0;
    box-sizing: border-box;
}

.hamburger-button:focus {
    outline: none;
}

.toggle-button__line{
    width: 24px;
    height: 2px;
    background: cornsilk;
}


